.corpo{
    background-color: whitesmoke;
    width: 900px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -450px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.bemvindo{
    margin: 5px 30px 0px 20px;


}
.menu{
    background-color: skyblue;
    width: 860px;
    height: 40px;
    margin: 20px 20px 0px 20px;
}

.botaoMenu{
    text-align: center;
    color: white;
    background-color: skyblue;
    line-height: 40px;
    float: left;
    width: 215px;
    height: 40px;    
    overflow: hidden;
    display: block;
    transition: all 0.2s;
} 

.botaoMenu:hover{
    cursor: default;
    background-color: blue;
}

#btCategorias:hover{
    height: 160px;
}

.banner{
    background-color: orange;
    background-repeat: no-repeat;
    background-position: 250px 10px;
    width: 760px;
    height: 150px;
    margin: 0px 20px 0px 20px;
    padding: 5px 0px 5px 100px;
    transition: all 1s;
}

.textoBanner{
    margin-left: 350px;
    width: 300px;  
}

.listaItens{
    background-color: white;    
    width: 860px;
    margin: 40px 20px 20px 20px;
    overflow: hidden;    
}

img{
    height: 200px;
    width: 200px;
    margin: 10px;;
}

.itemLista{
    float: left;    
    width: 220px;
    height: 410px;
    margin: 16px;
    text-align: center;
    line-height: 15px;    
    padding: 15px;
}

.p1{
    font-size: large;
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

.p2{
    color:red;
    font-weight: bold;
}

.fundoPoupUp {
  content: " ";
  z-index: 10;
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.poupUpLogin{
    background-color: white;
    border-radius: 5px;
    height: 100px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    padding: 100px;
    text-align: center;
}

.btFecharPoupUp{ 
    background-color: red;
    border-radius: 10px;
    text-align: center;
    color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: default;
}

.msgOk{
    text-align: center;
    color: green;
    border: 1px solid green;
    background-color: yellow;
}

.msgErro{
    text-align: center;
    color: red;
    border: 1px solid red;
    background-color: yellow;    
}

